.pokemon-feed {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}

.card {
  padding: 10px;
  border-radius: 5px;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.08);
}

.card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.card .text {
  width: 100%;
  text-align: center;
}

.card .pokeId {
  font-size: 0.8rem;
  margin-right: 5px;
  font-weight: 400;
}

.card .name {
  text-transform: capitalize;
}
